* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
:root{
    font-size: clamp(16px, 1.2vmax, 36px);
}
body {
    --accent-color: #2e66ce;
    --text-color: 17, 17, 17;
    --text-color-light: 85, 85, 85;
    --foreground-color: 255, 255, 255;
    --background-color: rgba(var(--foreground-color), 1);
    --dark-shade: #f4f4f4;
    --error-color: #E53935;
    background: rgba(var(--foreground-color), 1);
    color: rgba(var(--text-color), 1);
    background-size: cover;
}
body[data-theme="dark"]{
    --accent-color: #4284ff;
    --text-color: 220, 220, 220;
    --text-color-light: 170, 170, 170;
    --foreground-color: 26, 26, 26;
    --background-color: #111;
    --dark-shade: #222;
    --hue: 255;
    --saturation: 39%;
    --lightness: 70%;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: var(--accent-color);
}

.dark-text {
    color: #111;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.85rem;
}   

p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 60ch;
    color: rgba(var(--text-color), 0.9);
}
strong{
    font-weight: 500;
}
::-moz-focus-inner {
    border: none;
}
.bottom-padding {
    padding-bottom: 1.5rem;
}

.top-padding {
    padding-top: 1rem;
}

.bottom-margin {
    margin-bottom: 1.5rem;
}

.top-margin {
    margin-top: 1.5rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: auto auto;
    gap: 1rem;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.justify-right{
    margin-left: auto;
}

.space-between {
    justify-content: space-between;
}
.light-text {
    opacity: 0.7;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.hide-completely {
    display: none !important;
}

.breakable {
    word-break: break-all;
}

.separator {
    padding: .1rem;
}

.no-transformations {
    transform: none !important;
}
.capitalize{
    text-transform: capitalize;
}
.icon{
    width: 1.2rem;
    height: 1.2rem;
    stroke: rgba(var(--text-color), 1);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    overflow: visible;
}
span.ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(var(--text-color), 0.2);
    pointer-events: none;
}
.interact{
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.copy-row {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;
    width: auto;
    h4 {
        margin-bottom: 0 !important;
        font-weight: 400;
    }

    .icon {
        cursor: pointer;
        padding: 0.4rem;
        height: 1.8rem;
        width: 1.8rem;
    }

    .copy {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
#confirmation,
#prompt {
    flex-direction: column;
    h4 {
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    .flex {
        margin-top: 1rem;
        sm-button:first-of-type {
            margin-right: 0.6rem;
            margin-left: auto;
        }
    }
}
.popup-header{
    padding: 1rem 1.5rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    .icon{
        margin-right: 0.2rem;
        padding: 0.8rem;
        height: 2.4rem;
        width: 2.4rem;
        stroke-width: 8;
        transform: translateX(-0.4rem);
        cursor: pointer;
    }
    button{
        width: auto;
        margin-left: auto;
    }
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.3rem;
    color: var(--accent-color);
    transition: transform 0.3s;
    border: none;
    background: rgba(var(--text-color), 0.1);
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    &:focus {
        outline: thin solid rgba(var(--text-color-light), .4);
    }

    &:disabled {
        cursor: default;
        background: rgba(var(--text-color), 0.4);
    }
}
.primary-btn {
    padding: 0.6rem 1.2rem !important;
    background: var(--accent-color);
    justify-content: center;
    color: rgba(var(--foreground-color), 1);
}

#loader_page{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(var(--foreground-color), 1);
    z-index: 10;
    place-content: center;
    text-align: center;
    h4{
        text-align: center;
        margin-top: 2rem;
    }
}
#loader_container{
    height: 4rem;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background: linear-gradient(rgba(var(--foreground-color), 1), transparent 20%, transparent 80%, rgba(var(--foreground-color), 1));
    }
}
#loader{
    height: 8rem;
    animation: scroll infinite 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    fill: rgba(var(--text-color), 0.2);
}

@keyframes scroll{
    to{
        transform: translateY(-4rem);
    }
}

#sign_in_popup{
    &::part(popup-body){
        padding: 0;
    }
    #sign_in{
        .left{
            background-size: 60%;
        }
    }
}
.sign-in-box{
    width: 100%;
    margin: 0 -2rem;
    z-index: 1;
    justify-self: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(var(--foreground-color), 1);
    sm-input{
        text-align: left;
    }
    sm-panel{
        width: 100%;
    }
    sm-tab-header{
        margin: 0;
        background: none;
        align-self: flex-start;
        &::part(tab-header){
            padding-bottom: 0.4rem;
            gap: 1.5rem;
        }
    }
    sm-tab::part(tab){
        padding: 0.4rem 0;
    }
    sm-tab-panels{
        margin-top: 1.5rem;
    }
    form{
        width: 100%;
    }
    h2{
        margin-bottom: 0.5rem;
    }
    h3{
        font-weight: 500;
    }
    h4 {
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    h5{
        opacity: 0.8;
        font-weight: 500;
    }
    .copy-row{
        h4{
            max-width: 34ch;
        }
    }
    .copy-row:not(:last-of-type){
        margin-bottom: 1rem;
    }
    button {
        width: auto;
        margin-top: 1rem;
        padding: 0.6rem 1.6rem;
    }
    p {
        margin-bottom: 0.5rem;
        max-width: 35ch;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
    #credentials_section{
        border-top: 1px rgba(var(--text-color), 0.2) solid;
        margin-top: 1rem;
        padding-top: 1.5rem;
        animation: slide-down 0.3s forwards;
    }
    #sign_in_with{
        margin-top: 2rem;
    }
}
@keyframes slide-down{
    from{
        transform: translateY(-1rem);
    }
    to{
        transform: none;
    }
}

.page, .panel{
    animation: fade-in 0.3s;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#homepage{
    gap: 2rem 0;
}
.default-layout{
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    & > *{
        grid-column: 2;
    }
    main{
        gap: 2rem;
        display: grid;
    }
}
#main_header{
    padding: 1.5rem;
    .grid{
        gap: 1rem;
    }
}
#homepage_link{
    font-size: 1.2em;
}
.main-menu-icon{
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0.6rem;
    left: -0.6rem;
}
#main_sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: max(18rem, 80vw);
    background: #111;
    transition: transform 0.3s;
    transform: translateX(-100%);
    color: #f4f4f4;
    overflow-y: auto;
    overscroll-behavior: contain;
    .flex{
        padding-left: 1rem;
    }
    .main-menu-icon{
        stroke: #f4f4f4;
        left: -0.2rem;
        margin-right: 0.2rem;
    }
    h3{
        font-size: 1.1rem;
        padding: 1.5rem 0;
        font-weight: 500;
        font-family: 'Playfair Display', sans-serif;
    }
    .interact{
        .ripple{
            background: #f4f4f460;
        }
    }
    .sidebar-item{
        .icon{
            stroke: #f4f4ff;
        }
    }
}
#get_started_card{
    position: fixed;
    z-index: 2;
    padding: 1.5rem;
    background: #222;
    margin: 1.5rem;
    border-radius: 1rem;
    aspect-ratio: 1/1;
    p{
        color: #f4f4f4;
        margin-bottom: 3rem;
    }
}
.sidebar-item{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.9;
    .icon{
        margin-right: 1em;
        width: 1em;
    }
}
#search_articles_input{
    &::part(input){
        border-radius: 2rem;
    }
    .icon{
        height: 0.9em;
        width: 0.9em;
    }
}
#user_icon{
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
    padding: 0.7rem;
    justify-self: flex-end;
}
.page-header{
    padding: 1rem 0;
}
#search_page{
    & > div:first-of-type{
        padding: 2rem 0;
        background: rgb(125, 61, 228);
    }
    h2{
        color: white;
        margin-bottom: 1rem;
    }
    img{
        bottom: -2rem;
        justify-self: flex-end;
        width: 10rem;
        height: 10rem;
        pointer-events: none;
    }
}
#settings_popup{
    &::part(popup-body){
        padding: 0;
    }
    #settings_title{
        text-transform: capitalize;
    }
    #settings_sidebar{
        padding: 1rem 0;
    }
    #settings_panel{
        padding: 1.5rem;
    }
    section{
        max-width: 50ch;
        display: grid;
        gap: .3rem;
        justify-items: flex-start;
        &:not(:last-of-type){
            margin-bottom: 1.5rem;
        }
        &.setting-toggle{
            grid-template-columns: 1fr auto;
            sm-switch{
                grid-column: 2;
                grid-row: 1/3;
            }
            & > h4,
            & > p{
                grid-column: 1;
            }
        }
    }
}
.close{
    height: 2rem;
    width: 2rem;
    padding: 0.6rem;
}
.header{
    position: sticky;
    top: 0;
    background: rgba(var(--foreground-color), 1);
    z-index: 1;
    padding: 1rem 0;
    margin-bottom: 1rem;
    h4{
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}
#featured{
    header{
        h4{
            width: max-content;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 0.9em;
            padding: 0.2rem;
            margin-bottom: 1.5rem;
            z-index: 1;
            &::after{
                content: '';
                position: absolute;
                left: 50%;
                height: 50%;
                bottom: 0;
                width: 50%;
                background: #2de655;
                z-index: -1;
            }
        }
    } 
    .article-image{
        height: 14em;
    }
}
.card-options{
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    .icon{
        cursor: pointer;
        height: 0.9rem;
    }
}
sm-panel{
    display: grid;
    width: 100%;
}
sm-popup::part(popup){
    border-radius: 0.8rem 0.8rem 0 0;
}
sm-input::part(input){
    border-radius: 0.5rem;
}
#latest_articles_container{
    gap: 2rem 1rem;
    margin-bottom: 4rem;
}
.article-card{
    overflow: hidden;
    display: grid;
    gap: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    max-width: 65ch;
    padding-bottom: 1rem;
    grid-template-columns: 8rem 1fr;
    img{
        grid-row: 1/6;
        grid-column: 1;
        width: 100%;
        height: 8rem;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    .article-details{
        margin-bottom: 0.3rem;
    }
    .article-heading{   
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    .article-preview{
        line-height: 1.5;
        align-self: flex-start;
        font-size: 1em;
    }
}
#greetings_section{
    gap: 1rem;
    margin: 1rem 0 2rem 0;
    background: #FFE920;
    border-radius: 1rem;
    padding: 2rem 1rem;
    img{
        width: max(16rem, 26vmax);
    }
    img:nth-of-type(2){
        object-fit: cover;
        margin-left: auto;
        align-self: flex-end;
    }
}
#greeting_illustration svg{
    width: 4rem;
    height: 4rem;
}
#greetings{
    font-size: 1.1rem;
    text-transform: capitalize;
    padding-left: 1rem;
    border-left: 1px solid rgba(var(--text-color), 0.4);
}
.article{
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    & > *{
        grid-column: 2;
    }
}
.full-bleed{
    width: 100%;
    grid-column: 1/4;
}
.article-category{
    color: var(--accent-color);
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.8em;
}
.article-details{
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 0.3rem;
}
.article-heading{
    font-size: 1.5em;
    font-family: 'Lora', serif;
    margin-bottom: 0.8em;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.article-preview{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 1.1em;
}
.para-heading{
    font-family: 'Lora', serif;
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 1rem;
}
.article-para{
    line-height: 1.8;
    font-size: 1.1em;
    white-space: pre-line;
    &:not(:first-of-type){
        margin-top: 1.5rem;
    }
    /*&:first-of-type:first-letter {
        float: left;
        font-size: 3em;
        padding: 0 0.4em;
        line-height: 60px;
    }*/
}
.para-heading + .article-para{
    margin-top: 0;
}
.article-para + .para-heading{
    margin-top: 2rem;
}
.article-image{
    object-position: top;
    object-fit: cover;
    border-radius: 0.5rem;
    height: 16rem;
    width: 100%;
    margin-bottom: 2rem;
    //box-shadow: 0 0.4rem 1rem rgba(var(--text-color), 0.2);
}
.back{
    padding: 0.7rem;
    height: 2.4rem;
    width: 2.4rem;
    background-color: rgba(var(--foreground-color), 1);
    transform: translateX(-0.7rem);
    cursor: pointer;
    stroke-width: 8;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
}
#article_page{
    margin: 2rem 0 4rem 0;
    .flex{
        margin-bottom: 1.5em;
    }
    .article-category{
        margin: 0;
    }
    .article-heading{
        -webkit-line-clamp: 3;
    }
    .vote-btn{
        justify-self: center;
    }
}
.article-para, .article-preview{
    color: rgba(var(--text-color), 0.9);
    font-weight: 400;
}
#article_options{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: max-content;
    background: rgba(var(--foreground-color), 1);
    z-index: 2;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem #00000020;
    overflow: hidden;
    .option{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem;
        border-radius: 0.4rem;
        user-select: none;
        .icon{
            height: 1rem;
        }
        .label{
            display: none;
        }
        .liked{
            fill: #E53935;
            stroke: #E53935;
        }
        .bookmarked{
            fill: rgba(var(--text-color), 0.8);
            stroke: rgba(var(--text-color), 0.8);
        }
    }
}
#main_footer{
    background: rgba(var(--text-color), 0.1);
    padding: 1.5rem 0;
}
@media all and (max-width: 640px){
    .hide-on-mobile{
        display: none;
    }
    #sign_in{
        grid-template-rows: 16rem 1fr;
        max-height: 90vh;
        background: url(sign-in-back.svg) no-repeat center 6rem;
        background-size: 50%;
        .left{
            border-radius: 0.5rem 0.5rem 0 0;
        }
    }
    #main_header .grid{
        grid-template-columns: repeat(4, auto);
        h3{
            grid-row: 1;
        }
    }
    #sidebar_backdrop{
        background: rgba($color: #000000, $alpha: 0.6);
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        z-index: 4;
        transition: 0.3s opacity;
    }
    #search_articles_input{
        grid-row: 2;
        grid-column: 1/5;
    }
    #settings_popup::part(popup){
        //min-height: 100vh;
    }
}
@media screen and (min-width: 640px){
    sm-popup::part(popup){
        border-radius: 0.8rem;
    }
    #confirmation::part(popup) {
        width: 24rem;
    }
    #settings_popup::part(popup){
        width: min(52rem, 100%);
        height: max(28rem, 60vh);
    }
    #sign_in{
        grid-template-columns: 28rem 24rem;
        height: max(28rem, 60vh);
        .left{
            background: url(sign-in-back.svg) no-repeat center;
            border-radius: 0.5rem 0 0 0.5rem;
        }
        .sign-in-box{
            padding-top: 2rem;
        }
    }
    #main_header .grid{
        grid-template-columns: auto auto 1fr auto auto;
    }
    #main_sidebar{
        width: 16rem;
    }
    #search_articles_input{
        width: 24rem;
    }
    #greetings_section{
        align-items: center;
        grid-auto-flow: column;
        height: 22rem;
        margin: 1rem 0;
        padding: 0 4rem;
    }
    .article{
        grid-template-columns: 1fr min(65ch, 100%) 1fr;
    }
    .article-heading{
        font-size: 1.8em;
    }
    .para-heading{
        font-size: 1.3em;
    }
    .article-para, .article-preview{
        font-size: 1.15em;
        white-space: line;
    }
    #article_options{
        left: 1.5rem;
        border-radius: 0;
        box-shadow: none;
        flex-direction: column;
        bottom: auto;
        .option{
            .label{
                margin-top: 0.5rem;
                font-size: 0.9rem;
                display: block;
            }
        }
    }
    #search_page{
        .grid{
            grid-template-columns: 1fr auto;
        }
        img{
            grid-column: 2;
            grid-row: 1/4;
        }
    }
    #settings_popup{
        .grid{
            height: 100%;
            grid-template-columns: 12rem 1fr;
        }
        #settings_sidebar{
            border-right: 1px solid rgba(var(--text-color), 0.2);
        }
        .active{
            background: rgba(var(--text-color), 0.1);
        }
    }
}
@media screen and (min-width: 1024px){
    .hide-on-desktop{
        display: none;
    }
    .default-layout{
        grid-template-columns: 1fr 80vw 1fr;
        main{
            gap: 4rem;
        }
    }
    #main_sidebar{
        transform: none;
        padding: 1.5rem 0;
    }
    .main-menu-icon{
        display: none;
    }
    #main_header{
        padding: 2rem 4rem;
    }
    #featured{
        max-width: 50ch;
        .article-heading{
            font-size: 1.5em;
        }
    }
}